<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pudcast - Star</title>
    <link rel="icon" type="image/png" href="../../../public/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../../css/pudcast.css" />
    <link rel="stylesheet" type="text/css" href="../../css/webstar-color.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../lib/fontawesome/css/all.min.css" />
  </head>
  <body>
    <span id="refresh">
      <div>
        <i class="fa-solid fa-sun fa-fade"></i>
      </div>
    </span>
    <div id="root" class="web">
      <!-------------AA------------->
      <header id="viw1">
        <!-------------A1------------->
        <nav id="viw2">
          <!--IMAGE-->
          <img
            src="../../../public/logo.webp"
            alt="logo-star"
            loding="lazy"
            class="img1" />
          <!--HOME-->
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              href="../../../public/index.html">
              <div class="color">
                <i class="fa-solid fa-house"></i>
                <p>Home</p>
              </div>
            </a>
          </li>
        </nav>
        <!-------------A2------------->
        <nav id="viw3">
          <ul id="nav">
            <!--RADIO-->
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="Radio.html">
                <div class="color">
                  <i class="fa-solid fa-tower-cell"></i>
                  <p>Radio 24/7</p>
                </div>
              </a>
            </li>
            <!--PUDCAST-->
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="Pudcast.html">
                <div class="color">
                  <i class="fa-solid fa-podcast"></i>
                  <p>Pudcast</p>
                </div>
              </a>
            </li>
          </ul>
          <!--APPEARANCE-->
          <ul class="ul-wall">
            <button class="btu-wall" id="appA">
              <div class="color" style="font-size: 15px">
                <i class="fa-solid fa-images"></i>
                <p>Appearance</p>
              </div>
            </button>
            <!--APPEARANCE(NONE)-->
            <section class="appnce" id="appearance">
              <li class="wall-both1">
                <!--TITLE-->
                <h3>Themes</h3>
                <!--BUTTON-->
                <div class="wall-both2">
                  <button class="wall-btu" id="bakA">Default</button>
                  <button class="wall-btu" id="bakB">Glaxay-V1</button>
                  <button class="wall-btu" id="bakC">Glaxay-V2</button>
                </div>
              </li>
            </section>
          </ul>
        </nav>
      </header>
      <!-------------BB------------->
      <main id="main1">
        <!-------------B1------------->
        <header id="main2">
          <!--RIGHT,LEFT-->
          <nav class="row">
            <ul id="aclown">
              <a class="a1">
                <i class="fa-solid fa-chevron-left"></i>
              </a>
              <a class="a1">
                <i class="fa-solid fa-chevron-right"></i>
              </a>
            </ul>
            <!--SEARCH-->
            <form class="fsh">
              <input
                type="text"
                name="search"
                id="search"
                placeholder="Search..."
                onfocus="this.value=''" />
              <span id="btsh">
                <i class="fa-solid fa-search"></i>
              </span>
            </form>
            <!--SGIN-UP-LOGIN-->
            <ul class="f1">
              <!--S0-->
              <li class="nav-fill">
                <!--S1-->
                <a class="nav-link" id="link1" href="Sgin-up.html">
                  <p>Sgin up</p>
                </a>
                <!--S2-->
                <a id="link2" class="nav-link" href="Login.html">
                  <p>Login</p>
                </a>
              </li>
            </ul>
          </nav>
        </header>
        <!-------------B2------------->
        <main id="main3">
          <section id="page1">
            <!--RAP-->
            <div class="row">
              <h6 class="text">Healty</h6>
            </div>
            <!-------------B3------------->
            <article class="cardsA">
              <!--1-->
              <div class="cards A">
                <div class="card">
                  <div class="card-head">
                    <img
                      src="../image/logo/health/health1.webp"
                      class="img2"
                      alt="logo-music"
                      loding="lazy" />
                    <button class="click">
                      <i class="fa-solid fa-play"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" title="Coffee Break">
                      Coffee Break
                    </h5>
                    <p class="card-text">
                      Latin American mzic folk/popular/rap/pop....
                    </p>
                  </div>
                </div>
              </div>
              <!--2-->
              <div class="cards B">
                <div class="card">
                  <div class="card-head">
                    <img
                      src="../image/logo/health/health2.webp"
                      class="img2"
                      alt="logo-music"
                      loding="lazy" />
                    <button class="click">
                      <i class="fa-solid fa-play"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" title="Ask Again Later">
                      Ask Again Later
                    </h5>
                    <p class="card-text">
                      Latin American mzic folk/popular/rap/pop....
                    </p>
                  </div>
                </div>
              </div>
              <!--3-->
              <div class="cards C">
                <div class="card">
                  <div class="card-head">
                    <img
                      src="../image/logo/health/health3.webp"
                      class="img2"
                      alt="logo-music"
                      loding="lazy" />
                    <button class="click">
                      <i class="fa-solid fa-play"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" title="Unofficial Therapy">
                      Unofficial The...
                    </h5>
                    <p class="card-text">
                      Latin American mzic folk/popular/rap/pop....
                    </p>
                  </div>
                </div>
              </div>
              <!--4-->
              <div class="cards D">
                <div class="card">
                  <div class="card-head">
                    <img
                      src="../image/logo/health/health4.webp"
                      class="img2"
                      alt="logo-music"
                      loding="lazy" />
                    <button class="click">
                      <i class="fa-solid fa-play"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" title="In the Lab">In the Lab</h5>
                    <p class="card-text">
                      Latin American mzic folk/popular/rap/pop....
                    </p>
                  </div>
                </div>
              </div>
              <!--5-->
              <div class="cards E">
                <div class="card">
                  <div class="card-head">
                    <img
                      src="../image/logo/health/health6.webp"
                      class="img2"
                      alt="logo-music"
                      loding="lazy" />
                    <button class="click">
                      <i class="fa-solid fa-play"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" title="Diamonds">Diamonds</h5>
                    <p class="card-text">
                      Latin American mzic folk/popular/rap/pop....
                    </p>
                  </div>
                </div>
              </div>
            </article>
            <!--RAP-->
            <div class="row">
              <h6 class="text">History</h6>
            </div>
            <!-------------B4------------->
            <article class="cardsA">
              <!--1-->
              <div class="cards A">
                <div class="card">
                  <div class="card-head">
                    <img
                      src="../image/logo/history/history1.webp"
                      class="img2"
                      alt="logo-music"
                      loding="lazy" />
                    <button class="click">
                      <i class="fa-solid fa-play"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" title="Coffee Break">
                      Coffee Break
                    </h5>
                    <p class="card-text">
                      Latin American mzic folk/popular/rap/pop....
                    </p>
                  </div>
                </div>
              </div>
              <!--2-->
              <div class="cards B">
                <div class="card">
                  <div class="card-head">
                    <img
                      src="../image/logo/history/history2.webp"
                      class="img2"
                      alt="logo-music"
                      loding="lazy" />
                    <button class="click">
                      <i class="fa-solid fa-play"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" title="Ask Again Later">
                      Ask Again Later
                    </h5>
                    <p class="card-text">
                      Latin American mzic folk/popular/rap/pop....
                    </p>
                  </div>
                </div>
              </div>
              <!--3-->
              <div class="cards C">
                <div class="card">
                  <div class="card-head">
                    <img
                      src="../image/logo/history/history3.webp"
                      class="img2"
                      alt="logo-music"
                      loding="lazy" />
                    <button class="click">
                      <i class="fa-solid fa-play"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" title="Unofficial Therapy">
                      Unofficial The...
                    </h5>
                    <p class="card-text">
                      Latin American mzic folk/popular/rap/pop....
                    </p>
                  </div>
                </div>
              </div>
              <!--4-->
              <div class="cards D">
                <div class="card">
                  <div class="card-head">
                    <img
                      src="../image/logo/history/history5.webp"
                      class="img2"
                      alt="logo-music"
                      loding="lazy" />
                    <button class="click">
                      <i class="fa-solid fa-play"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" title="In the Lab">In the Lab</h5>
                    <p class="card-text">
                      Latin American mzic folk/popular/rap/pop....
                    </p>
                  </div>
                </div>
              </div>
              <!--5-->
              <div class="cards E">
                <div class="card">
                  <div class="card-head">
                    <img
                      src="../image/logo/history/history6.webp"
                      class="img2"
                      alt="logo-music"
                      loding="lazy" />
                    <button class="click">
                      <i class="fa-solid fa-play"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title" title="Diamonds">Diamonds</h5>
                    <p class="card-text">
                      Latin American mzic folk/popular/rap/pop....
                    </p>
                  </div>
                </div>
              </div>
            </article>
          </section>
        </main>
      </main>
      <!-------------CC------------->
      <footer id="player1">
        <!------C1------>
        <nav id="player2">
          <ul id="player4">
            <!--RANDOM-->
            <button id="rnd" class="mus-ply random">
              <i class="fa-solid fa-shuffle"></i>
            </button>
            <!--BACK-->
            <button id="bck" class="mus-ply back">
              <i class="fa-solid fa-backward-step"></i>
            </button>
            <!--PALY-->
            <button id="ply" class="mus-ply play">
              <i class="fa-solid fa-play"></i>
            </button>
            <!--NEXT-->
            <button id="nxt" class="mus-ply back">
              <i class="fa-solid fa-forward-step next"></i>
            </button>
            <!--LOOP-->
            <button id="lop" class="mus-ply loop">
              <i class="fa-solid fa-repeat"></i>
            </button>
          </ul>
        </nav>
      </footer>
      <!-------------DD------------->
    </div>
    <!--SCRIPT-->
    <script type="module" src="../../js/pudcast.js" defer></script>
  </body>
</html>
